:root {
  --color-blue: #6e9292;
  --color-blue-light: #a7d4da;
  --color-green: #738677;
  --color-green-light: #a7b4aa;
  --color-yellow: #c2bb96;
  --color-yellow-light: #e6ddb2;
  --color-red: #aa796c;
  --color-red-light: #e6beb4;
}
